/*!-........................... */
/*!- RESET */
/*!-........................... */
ul, li {
  list-style-type: none;
  padding        : 0;
  margin         : 0;
}
/*?-........................... */
/*?- PANEL LEFT */
/*?-........................... */
.area-panel-left {
 /* border    : 1px solid black; */
 overflow-y: scroll;
 float     : left;
 width     : 180px;
 height    : calc(100vh - 2px - 20px);
}
/*=-........................... */
/*=- AREA SUMMARY */
/*=-........................... */
/* .area-summary { */
  /* border    : 1px solid black; */
  /* padding: 10px; */
/* } */
/*=-........................... */
/*=- AREA CHAPTER */
/*=-........................... */
/* .area-chapter { */
  /* border    : 1px solid black; */
  /* padding: 10px; */
/* } */

.area-chapter[id^=section-] {
  display: none;
}
.area-chapter[id^=section-].activated{
  display: block !important;
}
/*.------------------------------------------------ */
/*.- H1 (sommaire) */
/*.------------------------------------------------ */
h1 {
 /* cursor: default;
 color : darkgray;
 text-transform: uppercase; */

/* OK */
/* font-family: 'Roboto', sans-serif;
font-weight: 100; */

/* THEN */
/* font-family: 'Open Sans', sans-serif; */
/* font-weight: 200; */
/* font-weight: 200;400;700;800; */

/* font-family: 'Alegreya Sans SC', sans-serif; */
/* font-weight: 300; */

/* font-family: 'Montserrat', sans-serif; */
/* font-weight: 100; */
/* 100;900 */

/* font-family  : 'Baloo 2',   cursive; */
/* font-weight  : 600;*/

/* font-family: 'Nunito', sans-serif; */
/* font-weight  : 200; */

/* font-family: 'Quicksand', sans-serif; */
/* font-weight: 300; */
/* 500;700 */

/* font-family: 'Exo 2', sans-serif; */
/* font-weight: 900; */

/* font-family: 'Josefin Slab', serif; */
/* font-weight: 100; */
/* 100;300 */

/* font-family: 'Laila', serif; */
/* font-weight: 700; */

/* font-family: 'Flamenco', cursive; */
/* font-weight: 300; */
/* 300;400 */

 /* margin-top   : 50px; */
 /* margin-bottom: 10px; */
 /* padding: 10px;
 margin: 20px 0 0 0;
 font-size    : 1.6em;
 text-align   : center; */
}

