/* Remove default bullets */
ul, #tree {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#tree {
  margin: 0;
  padding: 0;
}

/* Style the folder/arrow */
.folder {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the folder/arrow with a unicode, and style it */
.folder::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the folder/arrow icon when clicked on (using JavaScript) */
.folder-down::before {
  transform: rotate(90deg);
}

/* Hide the group list */
.group {
  display: none;
}

/* Show the group list when the user clicks on the folder/arrow (with JavaScript) */
.active {
  display: block;
}