# ##############################################################################
# ROOT [GIT-IGNORE]
# ##############################################################################
## Compiled JavaScript files
# **/*.js
**/*.js.map

# Typescript v1 declaration files
typings/



# @ Read about how to use .gitignore: https: //help.github.com/articles/ignoring-files
# @ Useful .gitignore templates     : https: //github.com/github/gitignore
# @ See https                       : //help.github.com/ignore-files/ for more about ignoring files.
# Compiled binary addons (http://nodejs.org/api/addons.html)

# global ---------------------------------------------------
.DS_Store
node_modules/

# axel #####################################################
1-scraper-outputX/
outputX/
secuX/
imgX/

# SPECIAL, A REMETRE ?
1-i/

# Security #################################################
# credential -----------------------------------------------
0-security
*serviceAccountKey.json
*credentials.json
*.pem

# Directories / generated ----------------------------------
build/
dist/
1-dist/
*dist

# Filed (pre,post)-processed for optimization
public/**/*.bundle.js
public/**/*.min.css

# Firebase cache
.firebase/

# Files ########################################################################
*.lock
*-lock.json

# logs -----------------------------------------------------
logs
*.log
*-error.log
firebase-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*-debug.log


# Instanbul-test-coverage ----------------------------------
# Coverage directory used by tools like istanbul
coverage/
# nyc test coverage
.nyc_output

# Others #######################################################################
# z
*.pem
# Runtime data
pids/
*.pid
*.seed
*.pid.lock
# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov/
# node-waf configuration
.lock-wscript
# Optional npm cache directory
.npm
# Optional eslint cache
.eslintcache
# dotenv environment variables file
.env


# //*EEEEEEEEEEEEEEEEEEEEEENNNNNNNN        NNNNNNNNDDDDDDDDDDDDD
# //.E::::::::::::::::::::EN:::::::N       N::::::ND::::::::::::DDD
# //!E::::::::::::::::::::EN::::::::N      N::::::ND:::::::::::::::DD
# //?EE::::::EEEEEEEEE::::EN:::::::::N     N::::::NDDD:::::DDDDD:::::D
# //@- E:::::E       EEEEEEN::::::::::N    N::::::N  D:::::D    D:::::D
# //-  E:::::E             N:::::::::::N   N::::::N  D:::::D     D:::::D
# //=- E:::::::::::::::E   N::::::N N::::N N::::::N  D:::::D     D:::::D
# //   E::::::EEEEEEEEEE   N:::::::N::::N  N::::::N  D:::::D     D:::::D
# //*  E:::::::::::::::E   N::::::N  N::::N:::::::N  D:::::D     D:::::D
# //   E::::::EEEEEEEEEE   N::::::N   N:::::::::::N  D:::::D     D:::::D
# //   E:::::E             N::::::N    N::::::::::N  D:::::D     D:::::D
# //   E:::::E       EEEEEEN::::::N     N:::::::::N  D:::::D    D:::::D
# // EE::::::EEEEEEEE:::::EN::::::N      N::::::::NDDD:::::DDDDD:::::D
# // E::::::::::::::::::::EN::::::N       N:::::::ND:::::::::::::::DD
# // E::::::::::::::::::::EN::::::N        N::::::ND::::::::::::DDD
# //*-EEEEEEEEEEEEEEEEEEEEEENNNNNNNN         NNNNNNNDDDDDDDDDDDDD

